<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title">
            <img src="{{ site.baseurl }}/assets/images/pytables-logo-text.svg" alt="PyTables" style="height: 1.5em">
        </h2>
        <p class="intro">{{site.description}}</p>
        <div class="btns">
            <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Demo</a>
            <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download</a>
        </div>
    </div>
    <div class="social-media">
        <div class="social-media-inner container text-center">
            <ul class="list-inline">
                {% for badge in site.data.badges %}
                <li><img src="{{badge}}"></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
