<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}
<body data-spy="scroll">
    {% include header.html %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center">{{ page.title }}</h2>
                <div class="block">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include github_ribbon.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>

